<conf>
  <aircraft
   name="Mentor"
   ac_id="1"
   airframe="airframes/VAMUdeS/mentor-2013-05-19-2.xml"
   radio="radios/dx8_old_ppm.xml"
   telemetry="telemetry/default_fixedwing.xml"
   flight_plan="flight_plans/VAMUdeS/versatile.xml"
   settings=" settings/fixedwing_basic.xml settings/control/ctl_basic.xml settings/estimation/infrared.xml settings/control/ctl_dash_loiter_trim.xml"
   gui_color="blue"
  />
  <aircraft
   name="AigleNoir3"
   ac_id="2"
   airframe="airframes/VAMUdeS/aiglenoir3.xml"
   radio="radios/dx8_old_ppm.xml"
   telemetry="telemetry/default_fixedwing.xml"
   flight_plan="flight_plans/VAMUdeS/versatile.xml"
   settings=" settings/fixedwing_basic.xml settings/control/ctl_basic.xml settings/estimation/infrared.xml settings/control/ctl_dash_loiter_trim.xml"
   gui_color="blue"
  />
  <aircraft
   name="Valkyrie"
   ac_id="3"
   airframe="airframes/VAMUdeS/valkyrie.xml"
   radio="radios/dx8_old_ppm.xml"
   telemetry="telemetry/default_fixedwing.xml"
   flight_plan="flight_plans/VAMUdeS/versatile.xml"
   settings=" settings/fixedwing_basic.xml settings/control/ctl_basic.xml settings/estimation/infrared.xml settings/control/ctl_dash_loiter_trim.xml"
   gui_color="blue"
  />
  <aircraft
   name="Simulator"
   ac_id="255"
   airframe="airframes/VAMUdeS/valkyrie_sim.xml"
   radio="radios/dx8_old_ppm.xml"
   telemetry="telemetry/default_fixedwing.xml"
   flight_plan="flight_plans/VAMUdeS/versatile.xml"
   settings=" settings/fixedwing_basic.xml settings/control/ctl_basic.xml settings/estimation/infrared.xml settings/control/ctl_dash_loiter_trim.xml"
   gui_color="blue"
  />
</conf>
